.collateral-view {
    .account-number {
        display: flex;
        gap: 5px;
        .icon {
            margin-top: -10px;
        }
    }
    .status {
        &-active {
            color: var(--bs-green);
        }
        &-inactive {
            color: var(--bs-gray);
        }
    }
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &-edit {
            color: var(--bs-blue);
            cursor: pointer;
        }
        &-delete {
            color: var(--bs-red);
            cursor: pointer;
        }
    }
    .table {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}